h1 {
    text-align: center;
}

.charSheets {
    display: flex;
    justify-content: left;
}

.character {
    border-style: double;
    border-width: 5px;
    padding: 5px 25px 5px 25px;
    margin: 25px;
    box-shadow: 11px 11px 10px 1px grey;
    width: 250px;
}

.stat {
    text-align: left;
}